<!-- Mobile-specific view -->
<div class="mobile-jumbotron">
  <h1 class="mobile_home_title">Welcome to Hodr</h1>
  <p class="mobile_home_bio">A new era of social media!</p>
  <%= link_to "Create A New Account!", signup_path, class: "btn btn-primary" %>
  <%= link_to "Log Into Your Account!", login_path, class: "btn btn-success" %>
</div>
