<!-- Mobile-specific view -->
<div class="jumbotron jumbotron-fluid bg-dark text-light text-center mobile_home_intro_div">
  <div class="container">
    <%= image_tag("robotic_scifi_wallpaper.png", alt: "Hodr Logo", height: "300px", width: "100%") %>
    <h1 class="mobile_home_h1">Welcome to Hodr</h1>
    <p class="lead mobile_home_p" style="color: #FFF;">The revolution of Social Media!</p>
    <p class="lead mobile_home_p" style="color: #FFF;">Join us and experience the freedom and empowerment of true social media.</p>
    <%= link_to "Create A New Account!", signup_path, class: "btn btn-primary mt-4" %> <%= link_to "Log Into Your Account!", login_path, class: "btn btn-success" %>
  </div>
</div>
<div class="mobile_home_why_div">
  <h2 class="mobile_home_why_h1">Why Choose Hodr?</h2>
  <p class="lead home_why_p">At Hodr, we're committed to providing a platform where you can express yourself freely and connect with others without restrictions.</p>
  <div class="row mt-4">
    <div class="col-md-4 mobile_home_why_inner_div">
      <h3 class="mobile_home_why_inner_h3">No Political Correctness</h3>
      <p class="mobile_home_why_inner_p">Express your political views without fear of censorship.</p>
    </div>
    <div class="col-md-4 mobile_home_why_inner_div">
      <h3 class="mobile_home_why_inner_h3">No Religious Discrimination</h3>
      <p class="mobile_home_why_inner_p">Respect for all religions and beliefs.</p>
    </div>
    <div class="col-md-4 mobile_home_why_inner_div">
      <h3 class="mobile_home_why_inner_h3">Privacy &amp; Anonymity</h3>
      <p class="mobile_home_why_inner_p">Your privacy is our priority. We don't track or spy on you.</p>
    </div>
  </div>
</div>
<div class="mobile_home_tech_div">
  <h2 class="mobile_home_tech_h2">Our Technology Stack</h2>
  <p class="lead mobile_home_tech_p">We use cutting-edge technologies to power Hodr and ensure a seamless user experience.</p>
  <div class="row mt-4">
    <div class="col-md-4">
      <h3 class="mobile_home_tech_inner_h3">Ruby on Rails</h3>
      <p class="mobile_home_tech_inner_p">Powerful and scalable web development framework.</p>
    </div>
    <div class="col-md-4">
      <h3 class="mobile_home_tech_inner_h3">Bootstrap</h3>
      <p class="home_tech_inner_p">Responsive front-end framework for faster and easier web development.</p>
    </div>
    <div class="col-md-4">
      <h3 class="mobile_home_tech_inner_h3">PostgreSQL</h3>
      <p class="mobile_home_tech_inner_p">Reliable and efficient database management system.</p>
    </div>
  </div>
</div>
