<% provide(:title, "About") %>
<div class="about-page">
  <div class="jumbotron jumbotron-fluid text-light text-center">
    <div class="container">
      <%= image_tag("mypage_logo.png", alt: "MyPage Logo", height: "300px", width: "100%") %>
      <h1 class="about_heading">About MyPage</h1>
      <p class="about_paragraph">
        Welcome to MyPage, your new home for truly personal and unrestricted social networking. Here, every voice is heard, every opinion matters, and privacy is paramount. Join us to explore a platform where freedom and customization create a space that's genuinely yours.
      </p>
    </div>
  </div>

  <section class="about-page about_secondary">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="about_section_title">Our Mission</h2>
        <p class="about_mypage">At MyPage, we champion digital freedom and user customization. We're breaking the mold of traditional social media to offer you a platform where you can express yourself without boundaries and tailor your experience down to the finest detail.</p>

        <h2 class="about_section_title">What Makes MyPage Different?</h2>
        <div class="media mb-4">
          <%= image_tag("visionary_leader.jpg", class: "about_img mr-3 rounded-circle", alt: "Leader Image", width: "100") %>
          <div class="media-body about_mypage">
            <strong>Built on Integrity and Innovation</strong>
            <p class="about_coder_p">At the helm is our founder, a visionary committed to privacy, freedom, and innovation. With a deep background in technology and a passionate belief in user rights, our leadership drives us forward into new territories of social interaction.</p>
          </div>
        </div>

        <h2 class="about_section_title">Key Features</h2>
        <p class="about_mypage">Explore what makes MyPage unique:
          <ul class="about_mypage">
            <li><strong>Freedom of Expression:</strong> Speak your mind without fear of censorship.</li>
            <li><strong>Full Customization:</strong> From fonts to themes, tailor your space to match your style.</li>
            <li><strong>No Tracking:</strong> Your privacy is respected. No spying, no tracking.</li>
          </ul>
        </p>

        <h2 class="about_section_title">Join the Revolution</h2>
        <p class="about_mypage">Step into a world where you control your digital presence. Unleash your creativity, advocate for your causes, or simply connect with others on your terms. Your new social journey starts here.</p>
        <%= link_to 'Sign Up Today', signup_path, class: "btn btn-outline-warning btn-sm btn-block button_pro" %>

        <h2 class="about_section_title">Membership Options</h2>
        <p class="about_mypage">Choose the plan that's right for you:</p>
        <ul class="about_mypage">
            <li><strong>Free Membership:</strong> <br/> <strong>*</strong> Access core features with basic customization options. <br/> <strong>*</strong> Ideal for new users exploring the platform.</li>
            <li><strong>Premium Membership:</strong><br/> <strong>*</strong> Enjoy advanced customization! <br/> <strong>*</strong> Ad-Free Browsing! <br/> <strong>*</strong> Exclusive Content. <br/><i>Make your profile stand out and enhance your experience without interruptions.</i></li>
            <li><i><strong>Monthly Plan:</strong> $9.99</i> <br/> <strong>*</strong> Perfect for those who prefer flexibility.</li>
            <li><i><strong>Yearly Plan:</strong> $89.99 <u>($7.50/month)</u></i> <br/> <strong>*</strong> Best value! Save over 20% annually for a commitment-free year of premium access.</li>
        </ul>

      </div>
    </div>
  </section>
</div>
