<% provide(:title, "Privacy Policy") %>
<div class="privacy-page">
  <div class="jumbotron jumbotron-fluid bg-dark text-light text-center privacy_intro_div">
    <div class="container">
      <%= image_tag("privacy_policy.png", alt: "Hodr Logo", height: "300px", width: "100%") %>
      <h1 class="privacy_h1">Hodr's Android Privacy Policy</h1>
      <p class="lead privacy_p">
        Your privacy is critically important to us. This Privacy Policy outlines how Hodr collects, uses, and protects your information when you use our Android application.<br/>
      </p>
    </div>
  </div>
  <section class="privacy-page privacy_secondary">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="privacy_sec_h2">Information We Collect</h2>
        <p class="text-muted privacy_head">
          * <strong>User-Provided Information:</strong> <i>Information you provide through the use of our app, such as account registration details, profile information, and content you upload.</i><br/>
          * <strong>Automatically Collected Information:</strong> <i>We do not collect any information automatically.</i><br/>
          * <strong>Location Information:</strong> <i>We do not track your location.</i><br/>
        </p>

        <h2 class="privacy_sec_h2">How We Use Your Information</h2>
        <p class="text-muted privacy_head">
          <i>Your information helps us to improve Hodr and provide a better user experience by enabling us to:</i><br/>
          * Improve our app based on the information and feedback we receive from you.<br/>
          * Provide customer support and respond to inquiries.<br/>
          * Send periodic emails related to your account or other products and services (with your consent).<br/>
        </p>

        <h2 class="privacy_sec_h2">Your Privacy Rights</h2>
        <p class="text-muted privacy_head">
          * <strong>Access and Control:</strong> <i>You have the right to access and control the personal information we hold about you. You can request to see, update, or delete your personal data.</i><br/>
          * <strong>Data Portability:</strong> <i>Upon request, we will provide you with a copy of your data in a structured, commonly used, and machine-readable format.</i><br/>
          * <strong>Consent Withdrawal:</strong> <i>You may withdraw your consent for us to collect or process your information at any time, subject to legal or contractual restrictions.</i><br/>
        </p>

        <h2 class="privacy_sec_h2">Data Security</h2>
        <p class="text-muted privacy_head">
          <i>We take the security of your data seriously and implement various measures to protect your personal information against unauthorized access, alteration, disclosure, or destruction.</i><br/>
          * Encryption and security protocols to safeguard data transmission.<br/>
          * Regularly updated security practices and compliance with industry standards.<br/>
        </p>

        <h2 class="privacy_sec_h2">Children's Privacy</h2>
        <p class="text-muted privacy_head">
          <i>Hodr does not knowingly collect or solicit personal information from anyone. Especially children. The only "collection" that Hodr performs, is what you input in the edit profile page. Which can be edited/removed anytime by the user.</i><br/>
        </p>

        <h2 class="privacy_sec_h2">Changes to This Privacy Policy</h2>
        <p class="text-muted privacy_head">
          <i>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page. You are advised to review this Privacy Policy periodically for any changes.</i><br/>
        </p>

        <h2 class="privacy_sec_h2">Contact Us</h2>
        <p class="text-muted privacy_head">
          <i>If you have any questions about this Privacy Policy, please contact us.</i><br/>
          * Providing contact information such as an email address.<br/>
        </p>
      </div>
    </div>
  </section>
</div>
