<% provide(:title, "EULA") %>
<div class="about-page">
  <div class="jumbotron jumbotron-fluid bg-dark text-light text-center about_intro_div">
    <div class="container">
      <%= image_tag("about_hodr.png", alt: "Hodr Logo", height: "300px", width: "100%") %>
      <h1 class="about_h1">Hodr's EULA</h1>
      <p class="lead about_p">
        Please read over our Terms &amp; Agreements as well as our End User License Agreement (EULA).<br/>
        <strong>PDF FORMAT COMING SOON!</strong>
      </p>
    </div>
  </div>
