<% provide(:title, "EULA") %>
<div class="about-page">
  <div class="jumbotron jumbotron-fluid bg-dark text-light text-center about_intro_div">
    <div class="container">
      <%= image_tag("about_hodr.png", alt: "Hodr Logo", height: "300px", width: "100%") %>
      <h1 class="about_h1">Hodr's EULA</h1>
      <p class="lead about_p">
        Please read over our Terms &amp; Agreements as well as our End User License Agreement (EULA).<br/>
        <strong>PDF FORMAT COMING SOON!</strong>
      </p>
    </div>
  </div>
  <section class="about-page about_secondary">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="about_sec_h2">Agreement Upon Registration</h2>
        <p class="text-muted eula_head">
          By using Hodr, you agree to the terms outlined in this Privacy &amp; Disclosure Agreement. Our commitment to your privacy, combined with our dedication to maintaining a respectful and inclusive community, sets the foundation for a social media experience that truly prioritizes user freedom and ownership.
        </p>
        <h2 class="about_sec_h2">Hodr Privacy &amp; Disclosure Agreement</h2>
        <p class="text-muted eula_head">
          At Hodr, we are committed to maintaining the trust and confidence of our community. Our Privacy & Disclosure Agreement is designed to ensure that you, our valued users, understand our practices regarding your privacy and the integrity of your interactions on our platform. Below, we detail our commitment to your privacy and outline the responsibilities and limitations within our community.
        </p>

        <h2 class="about_sec_h2">Privacy Commitment:</h2>
        <p class="text-muted eula_head">
          * <strong>No Tracking or Harvesting Cookies:</strong> <i> Hodr does not engage in tracking user activity through cookies or any other means. Your navigation through our site is free from invasive monitoring.</i><br/>
          * <strong>Conversation Privacy:</strong> <i>We respect the sanctity of your private communications. Hodr does not spy on or intercept text messages, phone calls, direct messages, or any form of personal communication conducted on our platform.</i><br/>
          * <strong>Content Ownership:</strong> <i>Hodr champions the principle of content ownership. Any images, posts, or digital content you upload remain yours. We claim no ownership or rights over the content you choose to share on Hodr.</i><br/>
        </p>

        <h2 class="about_sec_h2">Community and User Conduct:</h2>
        <p class="text-muted eula_head">
          * <strong>User Responsibility:</strong> <i>While Hodr fosters a diverse and inclusive community, we do not bear responsibility for actions taken by users based on religious beliefs, sexuality, or geographical location. We encourage a culture of respect and understanding among all users.</i><br/>
          * <strong>Monitoring Content:</strong> <i>Our platform relies on the vigilance of our community to maintain a safe environment. Users are urged to report instances of inappropriate or sexual content, enabling our admins to take corrective action.</i><br/>
          * <strong>Hate Speech and Harassment:</strong> <i>Hodr has a zero-tolerance policy for hate speech. We advocate for friendly and mutual joking; however, any form of discrimination or harassment is strictly prohibited. Victims of harassment are advised to inform the offending party to stop and to take screenshots of the interaction for evidence, should further action be necessary.</i><br/>
        </p>

        <h2 class="about_sec_h2">Administrative Actions:</h2>
        <p class="text-muted eula_head">
          * <strong>Role of Admins:</strong> <i>Administrators on Hodr have the authority to delete or remove accounts following a thorough investigation into reported concerns. Our process involves issuing a warning and a 24-hour compliance window to remove offending content. Failure to comply will result in account deletion and a ban.</i><br/>
          * <strong>False Reports:</strong> <i>Users found to be falsely reporting incidents as a means to harass or disturb the community will be subject to warnings and potential bans if such behavior continues.</i><br/>
        </p>

        <h2 class="about_sec_h2">Advertising Policy:</h2>
        <p class="text-muted eula_head">
          * <strong>Non-Intrusive Ads:</strong> <i>Our advertising model is designed to respect your privacy and browsing experience. Ads on Hodr are not tailored based on your personal data, search history, or conversations. Instead, we offer rotating ad blocks sponsored by businesses, ensuring a less intrusive ad experience.</i><br/>
          * <strong>Independent Content and Suggestions:</strong> <i>Hodr does not manipulate content or suggestions based on your activity or associations. Our aim is to provide a platform that values your freedom to explore and connect naturally, without forced connections or recommendations.</i><br/>
        </p>

        <h2 class="about_sec_h2">Community-Driven Ecosystem</h2>
        <p class="text-muted eula_head">
          * <strong>User Participation in Moderation:</strong> <i>Hodr relies on its community to help maintain the integrity of the platform. We encourage users to report technical glitches as well as inappropriate content or behavior. Our platform thrives on user involvement to identify and rectify issues, fostering a safe and welcoming environment.</i><br/>
        </p>

        <h2 class="about_sec_h2">Conduct and Content Policies</h2>
        <p class="text-muted eula_head">
          * <strong>Sexual Conductivity:</strong> <i>Hodr prohibits the posting of nude, partially nude, or sexually suggestive content. Acceptable content includes family-friendly photos in swimwear without sexual connotations. Explicit discussions or intimations of sexual activity are strictly forbidden.</i><br/>
          * <strong>Bullying and Hate Speech:</strong> <i>Hodr has a zero-tolerance policy for bullying, cyberstalking, and hate speech. Protection extends from our families to every Hodr user. While friendly banter among known friends is permitted, any form of harassment or derogatory comments will lead to severe actions, including potential legal consequences and permanent account banishment.</i><br/>
          * <strong>Prohibition of Pedophilic Behavior:</strong> <i>Hodr stands firmly against any form of pedophilic behavior. Suspected activities will be immediately reported to the appropriate authorities, leading to account suspension and potential legal action. The safety of children online is of utmost importance, and we are committed to rigorous enforcement of this policy.</i><br/>
        </p>

        </div>
    </div>
  </section>
</div>
