<% provide(:title, "EULA") %>
<div class="about-page">
  <div class="jumbotron jumbotron-fluid bg-dark text-light text-center about_intro_div">
    <div class="container">
      <%= image_tag("about_hodr.png", alt: "Hodr Logo", height: "300px", width: "100%") %>
      <h1 class="about_h1">Hodr's EULA</h1>
      <p class="lead about_p">
        Please read over our Terms &amp; Agreements as well as our End User License Agreement (EULA).<br/>
        <strong>PDF FORMAT COMING SOON!</strong>
      </p>
    </div>
  </div>
  <section class="about-page about_secondary">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="about_sec_h2">Agreement Upon Registration</h2>
        <p class="text-muted eula_head">
          By using Hodr, you agree to the terms outlined in this Privacy &amp; Disclosure Agreement. Our commitment to your privacy, combined with our dedication to maintaining a respectful and inclusive community, sets the foundation for a social media experience that truly prioritizes user freedom and ownership.
        </p>
        <h2 class="about_sec_h2">Hodr Privacy &amp; Disclosure Agreement</h2>
        <p class="text-muted eula_head">
          At Hodr, we are committed to maintaining the trust and confidence of our community. Our Privacy & Disclosure Agreement is designed to ensure that you, our valued users, understand our practices regarding your privacy and the integrity of your interactions on our platform. Below, we detail our commitment to your privacy and outline the responsibilities and limitations within our community.
        </p>

        <h2 class="about_sec_h2">Privacy Commitment:</h2>
        <p class="text-muted eula_head">
          * <strong>No Tracking or Harvesting Cookies:</strong> <i> Hodr does not engage in tracking user activity through cookies or any other means. Your navigation through our site is free from invasive monitoring.</i><br/>
          * <strong>Conversation Privacy:</strong> <i>We respect the sanctity of your private communications. Hodr does not spy on or intercept text messages, phone calls, direct messages, or any form of personal communication conducted on our platform.</i><br/>
          * <strong>Content Ownership:</strong> <i>Hodr champions the principle of content ownership. Any images, posts, or digital content you upload remain yours. We claim no ownership or rights over the content you choose to share on Hodr.</i><br/>
        </p>

        <h2 class="about_sec_h2">Community and User Conduct:</h2>
        <p class="text-muted eula_head">
          * <strong>User Responsibility:</strong> <i>While Hodr fosters a diverse and inclusive community, we do not bear responsibility for actions taken by users based on religious beliefs, sexuality, or geographical location. We encourage a culture of respect and understanding among all users.</i><br/>
          * <strong>Monitoring Content:</strong> <i>Our platform relies on the vigilance of our community to maintain a safe environment. Users are urged to report instances of inappropriate or sexual content, enabling our admins to take corrective action.</i><br/>
          * <strong>Hate Speech and Harassment:</strong> <i>Hodr has a zero-tolerance policy for hate speech. We advocate for friendly and mutual joking; however, any form of discrimination or harassment is strictly prohibited. Victims of harassment are advised to inform the offending party to stop and to take screenshots of the interaction for evidence, should further action be necessary.</i><br/>
        </p>

        <h2 class="about_sec_h2">Administrative Actions:</h2>
        <p class="text-muted eula_head">
          * <strong>Role of Admins:</strong> <i>Administrators on Hodr have the authority to delete or remove accounts following a thorough investigation into reported concerns. Our process involves issuing a warning and a 24-hour compliance window to remove offending content. Failure to comply will result in account deletion and a ban.</i><br/>
          * <strong>False Reports:</strong> <i>Users found to be falsely reporting incidents as a means to harass or disturb the community will be subject to warnings and potential bans if such behavior continues.</i><br/>
        </p>

        <h2 class="about_sec_h2">Advertising Policy:</h2>
        <p class="text-muted eula_head">
          * <strong>Non-Intrusive Ads:</strong> <i>Our advertising model is designed to respect your privacy and browsing experience. Ads on Hodr are not tailored based on your personal data, search history, or conversations. Instead, we offer rotating ad blocks sponsored by businesses, ensuring a less intrusive ad experience.</i><br/>
          * <strong>Independent Content and Suggestions:</strong> <i>Hodr does not manipulate content or suggestions based on your activity or associations. Our aim is to provide a platform that values your freedom to explore and connect naturally, without forced connections or recommendations.</i><br/>
        </p>

        <h2 class="about_sec_h2">Community-Driven Ecosystem</h2>
        <p class="text-muted eula_head">
          * <strong>User Participation in Moderation:</strong> <i>Hodr relies on its community to help maintain the integrity of the platform. We encourage users to report technical glitches as well as inappropriate content or behavior. Our platform thrives on user involvement to identify and rectify issues, fostering a safe and welcoming environment.</i><br/>
        </p>

        <h2 class="about_sec_h2">Conduct and Content Policies</h2>
        <p class="text-muted eula_head">
          * <strong>Sexual Conductivity:</strong> <i>Hodr prohibits the posting of nude, partially nude, or sexually suggestive content. Acceptable content includes family-friendly photos in swimwear without sexual connotations. Explicit discussions or intimations of sexual activity are strictly forbidden.</i><br/>
          * <strong>Bullying and Hate Speech:</strong> <i>Hodr has a zero-tolerance policy for bullying, cyberstalking, and hate speech. Protection extends from our families to every Hodr user. While friendly banter among known friends is permitted, any form of harassment or derogatory comments will lead to severe actions, including potential legal consequences and permanent account banishment.</i><br/>
          * <strong>Prohibition of Pedophilic Behavior:</strong> <i>Hodr stands firmly against any form of pedophilic behavior. Suspected activities will be immediately reported to the appropriate authorities, leading to account suspension and potential legal action. The safety of children online is of utmost importance, and we are committed to rigorous enforcement of this policy.</i><br/>
        </p>

        <!-- Data Protection and Security -->
              <h2 class="about_sec_h2">Data Protection and Security</h2>
              <p class="text-muted eula_head">
                * <strong>Data Encryption & Security Practices:</strong> <i>We employ state-of-the-art encryption and security measures to protect your data against unauthorized access and breaches. Users are reminded to maintain strong passwords and exercise caution in their online interactions.</i><br/>
              </p>

              <!-- Intellectual Property Rights -->
              <h2 class="about_sec_h2">Intellectual Property Rights</h2>
              <p class="text-muted eula_head">
                * <strong>User-Generated Content IP Rights:</strong> <i>While Hodr champions content ownership, users grant Hodr a non-exclusive, royalty-free license to use posted content for the platform's operation and promotional purposes. This does not affect your ownership rights.</i><br/>
                * <strong>Respect for Intellectual Property:</strong> <i>Posting content that infringes on another's intellectual property rights without permission is strictly prohibited.</i><br/>
              </p>

              <!-- Modification of Services -->
              <h2 class="about_sec_h2">Modification of Services</h2>
              <p class="text-muted eula_head">
                * <strong>Right to Modify Services:</strong> <i>Hodr reserves the right to modify or discontinue services with or without notice. Hodr shall not be liable for any modification, suspension, or discontinuance of the service.</i><br/>
              </p>

              <!-- Account Suspension and Termination -->
              <h2 class="about_sec_h2">Account Suspension and Termination</h2>
              <p class="text-muted eula_head">
                * <strong>Account Misuse:</strong> <i>Accounts involved in violating policies or engaging in illegal activities may be suspended or terminated. Hodr reserves the right to remove content and suspend accounts without prior notice.</i><br/>
              </p>

              <!-- Limitation of Liability -->
              <h2 class="about_sec_h2">Limitation of Liability</h2>
              <p class="text-muted eula_head">
                * <strong>Disclaimer of Warranties:</strong> <i>Hodr provides its service on an "as is" basis without warranties of any kind, including implied warranties of merchantability or non-infringement.</i><br/>
                * <strong>Liability Limitation:</strong> <i>Hodr's liability is limited to the amount users have paid, if any, for access to and use of the platform in the 12 months prior to the action giving rise to liability.</i><br/>
              </p>

              <!-- Dispute Resolution -->
              <h2 class="about_sec_h2">Dispute Resolution</h2>
              <p class="text-muted eula_head">
                * <strong>Governing Law:</strong> <i>These terms shall be governed by the laws of the jurisdiction in which Hodr operates.</i><br/>
                * <strong>Arbitration Agreement:</strong> <i>Disputes will be resolved through binding arbitration, rather than in court.</i><br/>
              </p>

              <!-- Updates to the Agreement -->
              <h2 class="about_sec_h2">Updates to the Agreement</h2>
              <p class="text-muted eula_head">
                * <strong>Changes to Terms:</strong> <i>Hodr reserves the right to modify this Agreement at any time. Continued use of the platform constitutes acceptance of those changes.</i><br/>
              </p>

              <!-- Contact and Feedback -->
              <h2 class="about_sec_h2">Contact and Feedback</h2>
              <p class="text-muted eula_head">
                * <strong>Feedback and Reporting Issues:</strong> <i>Hodr encourages users to provide feedback and report issues. Contact information for Hodr's support team should be provided here.</i><br/>
              </p>

              <!-- Storing and Using IP Addresses -->
              <h2 class="about_sec_h2">Storing and Using IP Addresses</h2>
              <p class="text-muted eula_head">
                * <strong>IP Address Logging:</strong> <i>Hodr logs the last known IP address used to access your account for security and legal compliance purposes. This information helps us safeguard your account and assist in investigations of unauthorized access or illegal activities.</i><br/>
                * <strong>Account Seizure in Case of Illegal Activities:</strong> <i>In the event we are informed or discover evidence of illegal activities associated with an account, Hodr reserves the right to temporarily secure the account by changing its password. This action is taken to prevent further unauthorized use while we turn over all relevant evidence, including the last known IP address, to local and federal authorities if required.</i><br/>
              </p>

              <!-- Prohibited Content and Consequences -->
              <h2 class="about_sec_h2">Prohibited Content and Consequences</h2>
              <p class="text-muted eula_head">
                * <strong>Promotion of Illegal Content:</strong> <i>Hodr prohibits the posting or promotion of pornographic content, drug-related content, or any other illegal material. Engaging in such activities breaches our community standards and will lead to immediate action.</i><br/>
                * <strong>Enforcement and Account Termination:</strong> <i>Users caught promoting prohibited content will receive a 24-hour notice to cease such activities and remove the offending content. Failure to comply will result in account deletion and a permanent ban of the user's email from our servers. We are committed to maintaining a safe and lawful online environment and will take decisive action to uphold these values.</i><br/>
                * <strong>Account Take Over &amp; IP Tracking:</strong> <i>If any account is caught in the act of publishing, promoting, or discussing illegal activities and actions (child pornographic content, illegal drugs, violance, etc.), their passwords will be changed and they will be logged out of their account. On top of that, the last known IP Address the users used to log into their account will be stored. All information will be handed over to the proper authorities.</i><br/>
              </p>

              <!-- Tools and Resources -->
              <h2 class="about_sec_h2">Tools and Resources</h2>
              <p class="text-muted eula_head">
                Hodr is built using a variety of reputable tools and services to provide you with a seamless and secure user experience. We encourage our users to familiarize themselves with the terms and conditions of these services, as their policies may affect the use of Hodr. Below is a list of some key tools and resources used in our platform:
              </p>
              <ul class="text-muted eula_head">
                <li><strong>NameCheap:</strong> Domain & Email Hosting. [Visit NameCheap's Terms and Conditions](https://www.namecheap.com/legal/).</li>
                <li><strong>Heroku:</strong> Website Hosting. [Visit Heroku's Terms of Service](https://www.heroku.com/policy/tos).</li>
                <li><strong>Ruby on Rails:</strong> The application framework used to develop Hodr. [Learn more about Ruby on Rails](https://rubyonrails.org/).</li>
                <li><strong>FontAwesome, Bootstrap, Google Fonts:</strong> Used for styling the website. Their use is governed by their respective licenses and terms. [FontAwesome](https://fontawesome.com/license), [Bootstrap](https://getbootstrap.com/docs/5.0/about/license/), [Google Fonts](https://fonts.google.com/about).</li>
                <li><strong>SQLite3:</strong> SQL Database used for data storage. [Learn more about SQLite's Licensing](https://www.sqlite.org/index.html).</li>
              </ul>
              <p class="text-muted eula_head">
                Please note that this list is not exhaustive, and other third-party services may be used. We recommend reviewing the terms and privacy policies of all third-party services to understand their practices fully.
              </p>

              <!-- Account Deletion Structure -->
              <h2 class="about_sec_h2">Account Deletion Process</h2>
              <p class="text-muted eula_head">
                Hodr respects the right of users to discontinue use of our platform. Users wishing to delete their accounts must send a formal request via email to our administration team. Each request is reviewed to ensure compliance with our End User License Agreement (EULA). Assuming no issues, the account will be deleted, and all associated data will be permanently removed from our databases, ensuring your privacy and data protection.
              </p>
              <p class="text-muted eula_head">
                Please note, this process is designed to protect the integrity of our platform and the security of user data. Account deletion is irreversible, resulting in the permanent erasure of your account data.
              </p>

              <!-- Password Alteration Structure -->
              <h2 class="about_sec_h2">Password Alteration Process</h2>
              <p class="text-muted eula_head">
                In our commitment to user security, Hodr has implemented a manual process for password alterations. Users needing to reset or change their password are required to send an email to our administration team. This manual review process allows us to provide personalized assistance, enhancing the security of user accounts.
              </p>
              <p class="text-muted eula_head">
                Additionally, this process plays a crucial role in our security measures against illegal activities. Should an account be suspected of engaging in prohibited behavior, such as publishing content that violates our community standards or legal regulations, we reserve the right to alter the account's password as part of the process to secure the account and comply with investigative procedures. This action is taken in serious circumstances to prevent further unauthorized use while we cooperate with local and federal authorities.
              </p>          
        </div>
    </div>
  </section>
</div>
