<div class="container mt-5">
  <section class="text-center mb-4">
    <h1 class="home_heading" data-translate="Welcome to MyPage">Welcome to <strong class="home_heading_pro">MyPage</strong>!</h1>
    <p class="home_paragraph">Reclaim your freedom to express, customize, and engage in a truly private social space.</p>
    <%= link_to 'Create Your Page!', signup_path, class: 'btn btn-outline-success button_pro' %> <%= link_to 'Enter Your Page!', login_path, class: 'btn btn-outline-primary button_pro' %>
  </section>

  <div class="row text-center">
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title card_pro">Freedom of Speech</h5>
          <p class="card-text card_semi-pro">Express yourself without fear of censorship.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title card_pro">Zero Tracking</h5>
          <p class="card-text card_semi-pro">Your privacy is our priority. Enjoy a platform that respects your data and personal space.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title card_pro">Customizable Profiles</h5>
          <p class="card-text card_semi-pro">Show off your style with fully customizable profiles. Let your personality shine through every pixel.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Additional Features Section -->
  <section class="my-5">
    <h2 class="home_heading">Explore Advanced Features</h2>
    <i><u><b>Please Note:</b> Most features are SOON to come!</u></i>
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title card_pro">Enhanced Profile Customization</h5>
            <p class="card-text card_semi-pro">
              Elevate your MyPage profile with our advanced customization options. Choose from a variety of layout templates, integrate useful widgets, and create a personal soundtrack with your favorite music playlists. These features not only enhance your personal expression but also ensure your profile stands out in a crowded social media landscape. Tailor your digital space to reflect your unique style and preferences, making your MyPage profile a true extension of your personality.<br/>
              <br/>
              <br/>
            </p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-titl card_pro">Badges and Rewards</h5>
            <p class="card-text card_semi-pro">
              Elevate your engagement on MyPage with our dynamic badges and rewards system. Participate actively in the community to earn badges that showcase your contributions and achievements. From 'Newbie' to 'Influencer', each badge not only signifies your status but also unlocks new capabilities and rewards. Top user status brings additional perks, enhancing your visibility and influence within the community. Join us to make your mark, earn rewards, and gain recognition among your peers.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title card_pro">Advanced AI Integration</h5>
            <p class="card-text card_semi-pro">
              MyPage harnesses the power of advanced artificial intelligence through collaborations with industry leaders like Google AI and OpenAI's ChatGPT. Our platform integrates these sophisticated algorithms to refine user interaction, offer personalized content, and provide intelligent automated responses. This AI enhancement transforms traditional social networking into an intuitive, responsive, and user-centric experience. Discover how AI can make your social interactions more engaging and tailored to your interests, setting MyPage apart as a leader in innovative social media solutions.
            </p>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title card_pro">Social and Productivity Integrations</h5>
            <p class="card-text card_semi-pro">
              Connect and streamline your social presence with MyPage’s new integration features. Effortlessly sync your profile with other social media platforms for seamless cross-posting. Link your account with calendar apps to manage event planning directly from your MyPage profile. Enjoy enriched content sharing with multimedia platforms like Spotify or YouTube, enhancing how you share and consume content. These integrations not only simplify your digital life but also amplify your online interactions.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- SEO Optimization Section -->
  <section class="my-5">
    <h2 class="home_heading">Join a Private and Protected Community</h2>
    <p class="text-center card_semi-pro">Discover a social media platform where privacy, protection, and personalization are built into the very fabric of the community.</p>
  </section>
</div>
