<div style="background: url('<%= asset_path 'hodr_home-background.png' %>') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; width: 100%">

<div class="p-5 text-light text-center home_intro_div" style="background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)),  center / cover no-repeat;">
  <div class="container">
    <h1 class="display-3 home_h1">Discover the Unknown</h1>
    <p class="lead home_p">Dive into the new era of social media where the cosmos meets technology.</p>
    <p class="lead home_p">Join our galaxy of explorers and express yourself in a universe without boundaries.</p>
    <%= link_to "Start Your Journey", signup_path, class: "btn btn-lg btn-outline-primary mt-4 me-2", style: 'cursor: crosshair' %>
    <%= link_to "Already Exploring?", login_path, class: "btn btn-lg btn-outline-success mt-4", style: 'cursor: crosshair' %>
  </div>
</div>

<div class="container text-center mt-5 home_why_div" style="background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)),  center / cover no-repeat;">
  <h2 class="display-4 home_why_h1">Why Hodr?</h2>
  <p class="lead home_why_p">At Hodr, we're reshaping social media into an infinite playground for expression, connection, and discovery.</p>
  <div class="row mt-4">
    <div class="col-md-4 home_why_inner_div">
      <h3>Uncharted Freedom</h3>
      <p>Share your adventures, thoughts, and discoveries freely, in an expansive digital cosmos.</p>
    </div>
    <div class="col-md-4 home_why_inner_div">
      <h3>Interstellar Connection</h3>
      <p>Connect with beings from all corners of the universe, in forums and groups that transcend galaxies.</p>
    </div>
    <div class="col-md-4 home_why_inner_div">
      <h3>Cosmic Privacy</h3>
      <p>Your space, your rules. Navigate the cosmos with the assurance that your privacy is safeguarded.</p>
    </div>
  </div>
</div>

<div class="container text-center mt-5 home_tech_div" style="background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)),  center / cover no-repeat;">
  <h2 class="display-4 home_tech_h2">Our Technology Constellation</h2>
  <p class="lead home_tech_p">We harness advanced technologies to fuel your journey through Hodr, ensuring a seamless and immersive experience.</p>
  <div class="row mt-4">
    <div class="col-md-4">
      <h3 style="color: #0000FF">Ruby on Rails</h3>
      <p style="color: #FFFFFF">The backbone of our interstellar journey, providing powerful and scalable web development.</p>
    </div>
    <div class="col-md-4">
      <h3 style="color: #00FF00">Bootstrap</h3>
      <p style="color: #FFFFFF">The fabric of our universe, enabling responsive and flexible design that adapts to any device or screen size.</p>
    </div>
    <div class="col-md-4">
      <h3 style="color: #FF0000">PostgreSQL</h3>
      <p style="color: #FFFFFF">The core of our galaxy, storing the universe's knowledge securely and efficiently.</p>
    </div>
    <div class="col-md-4">
      <h3 style="color: #FF00FF">Heroku</h3>
      <p style="color: #FFFFFF">The launchpad for our mission, offering a scalable, managed hosting environment that lets our platform soar through the digital cosmos with ease.</p>
    </div>
    <div class="col-md-4">
      <h3 style="color: #FFFF00">Amazon AWS S3 Buckets</h3>
      <p style="color: #FFFFFF">The cosmic vaults of our universe, providing secure and infinite storage space for the myriad of data and discoveries made by our explorers across the galaxy.</p>
    </div>
    <div class="col-md-4">
      <h3 style="color: #00FFFF">Cryptocurrency Gateway</h3>
      <p style="color: #FFFFFF">The star portal of commerce, enabling seamless transactions across the cosmos. This gateway allows explorers to trade and transact with digital currencies, fueling the economic engines of our galactic community.</p>
    </div>
  </div>
</div>
</div>
