<% provide(:title, "How To") %>
<div class="how-to-page">
  <div class="container py-5 text-center">
    <%= image_tag("mypage_logo.png", alt: "MyPage Logo", style: 'height: 50px; width: 175px;') %>
    <h1 class="display-4 howto_header">Navigating MyPage: A Comprehensive Guide</h1>
    <p class="howto_about">
      Embark on your journey with MyPage and discover how to fully leverage our platform for enhanced social connectivity and personal expression.
    </p>
  </div>

  <section class="container my-5">
    <div class="row">
      <div class="col-lg-8 mx-auto">

        <h2 class="mt-5 howto_semi_title">Creating an Account</h2>
        <p class="howto_semi_paragraph">Initiate your experience at MyPage:</p>
        <ul class="howto_list howto_list_instructions" style="list-style-type: none;">
          <li>1. Visit the registration page on MyPage.</li>
          <li>2. Complete the form with your desired information.</li>
          <li>3. Click "Sign Up" to establish your account.</li>
        </ul>

        <h2 class="mt-5 howto_semi_title">Logging into Your Account</h2>
        <p class="howto_semi_paragraph">To access your MyPage account:</p>
        <ul class="howto_list howto_list_instructions" style="list-style-type: none;">
          <li>1. Navigate to the login page.</li>
          <li>2. Enter your registered username and password.</li>
          <li>3. Select "Login" to proceed to your personalized dashboard.</li>
        </ul>

        <h2 class="mt-5 howto_semi_title">Editing Your Account</h2>
        <p class="howto_semi_paragraph">Modify your profile settings and preferences:</p>
        <ul class="howto_list howto_list_instructions" style="list-style-type: none;">
          <li>1. Access "Settings" from your account menu.</li>
          <li>2. Adjust your profile details and customize your experience, accessing advanced features if you are a premium member.</li>
          <li>3. Save your changes to update your account settings.</li>
        </ul>

        <h2 class="mt-5 howto_semi_title">Following Users</h2>
        <p class="howto_semi_paragraph">Connect with other members on MyPage:</p>
        <ul class="howto_list howto_list_instructions" style="list-style-type: none;">
          <li>1. Utilize the search functionality to find other users.</li>
          <li>2. Visit their profile pages.</li>
          <li>3. Click "Follow" to subscribe to their updates.</li>
        </ul>

        <h2 class="mt-5 howto_semi_title">How to Earn Badges</h2>
        <p class="howto_semi_paragraph">Enhance your profile and community status by earning badges:</p>
        <ul class="howto_list howto_list_instructions" style="list-style-type: none;">
          <li>1. Be an early registrant to receive exclusive recognition.</li>
          <li>2. Participate actively by posting and engaging with the community to earn performance-based badges.</li>
        </ul>

        <h2 class="mt-5 howto_semi_title">Account Deletion</h2>
        <p class="howto_semi_paragraph">Request the closure of your account for privacy concerns:</p>
        <ul class="howto_list howto_list_instructions" style="list-style-type: none;">
          <li>1. Email our support team from your registered email address, stating your reason for account deletion.</li>
          <li>2. Your request will be reviewed for any unusual activity before finalizing the account closure.</li>
        </ul>

        <h2 class="mt-5 howto_semi_title">Changing Your Password</h2>
        <p class="howto_semi_paragraph">Secure your account by updating your password:</p>
        <ul class="howto_list howto_list_instructions" style="list-style-type: none;">
          <li><u><i><b>IF YOU FORGOT YOUR PASSWORD:</b></u></i></li>
          <li>1. Request a password reset from the login screen.</li>
          <li>2. Follow the instructions sent to your registered email to set a new password.</li>
          <li><u><i><b>IF YOU HAVE ACCESS TO YOUR ACCOUNT:</b></u></i></li>
          <li>1. Log into your account.</li>
          <li>2. Click on "Edit MyPage".</li>
          <li>3. Scroll to the bottom and change your password.</li>
          <li>3.A. Please use the same password for <strong>BOTH</strong> password fields.</li>
          <li>4. Click Save</li>
        </ul>

        <h2 class="mt-5 howto_semi_title">Creating a New Post</h2>
        <p class="howto_semi_paragraph">Share your insights and media with the community:</p>
        <ul class="howto_list howto_list_instructions" style="list-style-type: none;">
          <li>1. Navigate to the post creation tool on your dashboard.</li>
          <li>2. Upload your content, including images and videos if desired.</li>
          <li>3. Publish your post to make it visible to others.</li>
        </ul>

        <h2 class="mt-5 howto_semi_title">Creating Comments</h2>
        <p class="howto_semi_paragraph">Engage with content posted by other users:</p>
        <ul class="howto_list howto_list_instructions" style="list-style-type: none;">
          <li>1. Select a post that interests you.</li>
          <li>2. Enter your comment in the provided field below the post.</li>
          <li>3. Submit your comment to join the discussion.</li>
        </ul>

      </div>
    </div>
  </section>
</div>
