<% provide(:title, "How To") %>
<div style="background: url('<%= asset_path 'hodr_howto-background.png' %>') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; width: 100%">

<div class="how-to-page" style="background-color: rgba(0,0,0,0.8)">
  <div class="container py-5 text-center">
    <%= image_tag("hodr_logo_sci_fi.png", alt: "Hodr Logo", style: 'height: 50px; width: 175px;') %>
    <h1 class="display-4" style="color: #29f3c3;">Navigating the Cosmos of Hodr</h1>
    <p class="lead" style="color: #d4c1ec;">
      Embark on a digital odyssey and master the art of cosmic connectivity on Hodr. Below, uncover the pathways to digital enlightenment.
    </p>
  </div>

  <section class="container my-5">
    <div class="row">
      <div class="col-lg-8 mx-auto">

        <h2 class="mt-5" style="color: #ef7d00;">Creating a Cosmic Identity</h2>
        <p style="color: #a7b9d9;">Commence your journey through Hodr’s universe:</p>
        <ul class="howto_list" style="list-style-type: none;">
          <li>1. Navigate to the Hodr portal.</li>
          <li>2. Initiate the "Sign Up" sequence.</li>
          <li>3. Transmit your data into the registration conduit.</li>
          <li>4. Engage "Submit" to materialize your cosmic identity.</li>
        </ul>

        <h2 class="mt-5" style="color: #ef7d00;">Accessing Your Galactic Dashboard</h2>
        <p style="color: #a7b9d9;">To interface with your Hodr account:</p>
        <ul class="howto_list" style="list-style-type: none;">
          <li>1. Proceed to the Hodr entry point.</li>
          <li>2. Activate the "Log In" command.</li>
          <li>3. Input your identification codes.</li>
          <li>4. Select "Login" to enter your dashboard.</li>
        </ul>

        <h2 class="mt-5" style="color: #ef7d00;">Modifying Your Star Chart</h2>
        <p style="color: #a7b9d9;">To recalibrate your Hodr profile:</p>
        <ul class="howto_list" style="list-style-type: none;">
          <li>1. Chart a course to the Hodr domain.</li>
          <li>2. Engage "Account" > "Settings".</li>
          <li>3. Update your celestial coordinates as desired.</li>
          <i>Note: Some data fields are locked for your spacetime continuum's integrity.</i>
        </ul>

        <h2 class="mt-5" style="color: #ef7d00;">Forging Alliances</h2>
        <p style="color: #a7b9d9;">To align with fellow explorers:</p>
        <ul class="howto_list" style="list-style-type: none;">
          <li>1. Locate and engage with the "Users" sector.</li>
          <li>2. Identify an ally and navigate to their profile.</li>
          <li>3. Transmit a "Follow" signal to initiate the alliance.</li>
        </ul>

        <!-- Add more sections as needed, following the same thematic approach -->

      </div>
    </div>
  </section>
</div>
</div>
