<% provide(:title, "Log in") %>
<% mobile_view = browser.device.mobile? %>

<h1 class="new_title">Log in</h1>
<% if mobile_view %>
  <!-- Mobile-specific view -->
  <%= render 'mobile_login' %>
<% else %>
  <!-- Desktop-specific view -->
  <%= render 'desktop_login' %>
<% end %>
<p class="registration_page">New user? <%= link_to "Sign up now!", signup_path, class: 'btn btn-primary' %></p>
<p class="registration_page">Business User? <%= link_to "Business Signup!", new_business_path, class: 'btn btn-warning' %></p>
