<div class="comment" id="comment_<%= comment.id %>">
  <p style="color: #0F0"><%= comment.user.uname %> <i style="color: #FFF">~ Commented:</i></p>
  <p class="comment_content"><%= auto_link(comment.content, html: { target: '_blank' }) %></p>
  <% comment.images.each do |image| %>
    <%= image_tag image, height: '100' %>
  <% end %>
</div>
