<% if @user.email == 'awlove32009@gmail.com' %>
  <p>Son of the Developer</p>
<% end %>
<% if @user.email == 'khristane21@gmail.com' %>
  <p>Wife of the Developer</p>
<% end %>
<% if @user.email == 'mystang26@yahoo.com' %>
  <p>Best Friend of the Developer</p>
<% end %>
<% if @user.email == 'love.shawna@icloud.com' %>
  <p>Daughter of the Developer</p>
<% end %>
