<div class="user-profile-content">

  <!-- Begin timeline -->
  <div class="the-timeline">
    <% if @user == current_user %>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
    <% end %>
    <br><br>
    <ul>
      <div class="col-md-8">
        <% if @user.microposts.any? %>
        <div class="col-md-8">
          <h3>Micropost Feed</h3>
          <%= render 'shared/feed' %>
        </div>
        <% end %>
      </div>
    </ul>
  </div><!-- End div .the-timeline -->
  <!-- End timeline -->
</div><!-- End div .user-profile-content -->
