<div class="user-profile-content">

  <!-- Begin timeline -->
  <div class="the-timeline">
    <% if @user == current_user %>
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
    <% end %>
    <br><br>
    <ul>
      <div class="col-md-8">
        <% if current_user == @user %>
          <% if @user.microposts.any? %>
            <div class="col-md-8">
              <h3 class="post_title">Micropost Feed</h3>
              <%= render 'shared/feed' %>
            </div>
          <% end %>
        <% else %>
          <div class="col-md-8">
            <%= render @user.microposts %>
          </div>
        <% end %>
      </div>
    </ul>
  </div><!-- End div .the-timeline -->
  <!-- End timeline -->
</div><!-- End div .user-profile-content -->
