<% provide(:title, "Admin") %>
<div class="about-page">
  <div class="jumbotron jumbotron-fluid bg-dark text-light text-center about_intro_div">
    <div class="container">
      <%= image_tag("about_hodr.png", alt: "Hodr Logo", height: "300px", width: "100%") %>
      <h1 class="about_h1">Admin Portal</h1>
      <p class="lead about_p">
        This is the admin portal for Hodr!
      </p>
    </div>
  </div>
</div>
