<% provide(:title, 'Sign up') %>

<% mobile_view = browser.device.mobile? %>

<h1 class="new_title">Sign up</h1>
<% if mobile_view %>
  <!-- Mobile-specific view -->
  <%= render 'mobile_new' %>
<% else %>
  <!-- Desktop-specific view -->
  <%= render 'desktop_new' %>
<% end %>
