/** Google Font Families: **/
/**
font-family: "Special Elite", system-ui;

font-family: "Silkscreen", sans-serif;

font-family: "Luckiest Guy", cursive;

font-family: "Space Mono", monospace;

font-family: "Spectral", serif;

font-family: "Righteous", sans-serif;

font-family: "Great Vibes", cursive;

font-family: "Montserrat Alternates", sans-serif;

font-family: "Amatic SC", sans-serif;

font-family: "Black Ops One", system-ui;

font-family: "Exo", sans-serif;

font-family: "Bungee Spice", sans-serif;

font-family: "Cinzel", serif;

font-family: "Orbitron", sans-serif;

font-family: "Crimson Pro", serif;

font-family: "Source Serif 4", serif;

font-family: "Tilt Neon", sans-serif;

font-family: "IBM Plex Serif", serif;

font-family: "Permanent Marker", cursive;

font-family: "Seymour One", sans-serif;

font-family: "Shadows Into Light", cursive;

font-family: "Tac One", sans-serif;

font-family: "Cormorant Garamond", serif;

font-family: "Red Hat Display", sans-serif;

font-family: "Play", sans-serif;

font-family: "Nanum Gothic Coding", monospace;

font-family: "Space Grotesk", sans-serif;

font-family: "Comfortaa", sans-serif;

font-family: "Lobster", sans-serif;

font-family: "Saira Condensed", sans-serif;

font-family: "Assistant", sans-serif;

font-family: "Crimson Text", serif;

font-family: "Exo 2", sans-serif;

font-family: "Source Code Pro", monospace;

font-family: "Hind", sans-serif;

font-family: "Teko", sans-serif;

font-family: "Oxygen", sans-serif;

font-family: "Outfit", sans-serif;

font-family: "Bitter", serif;

font-family: "EB Garamond", serif;

font-family: "Dancing Script", cursive;

font-family: "Cabin", sans-serif;

font-family: "Anton", sans-serif;

font-family: "Dosis", sans-serif;

font-family: "Libre Baskerville", serif;

font-family: "Hind Siliguri", sans-serif;

font-family: "Mukta", sans-serif;

font-family: "Bebas Neue", sans-serif;

font-family: "Inconsolata", monospace;

font-family: "Jersey 25", sans-serif;

font-family: "Karla", sans-serif;

font-family: "Noto Serif", serif;

font-family: "Libre Franklin", sans-serif;

font-family: "Nanum Gothic", sans-serif;

font-family: "PT Serif", serif;

font-family: "Manrope", sans-serif;

font-family: "Titillium Web", sans-serif;

font-family: "IBM Plex Sans", sans-serif;

font-family: "Quicksand", sans-serif;

font-family: "Fira Sans", sans-serif;

font-family: "Barlow", sans-serif;

font-family: "Jersey 15", sans-serif;

font-family: "Mulish", sans-serif;

font-family: "DM Sans", sans-serif;

font-family: "Lora", serif;

font-family: "Work Sans", sans-serif;

font-family: "PT Sans", sans-serif;

font-family: "Jersey 10", sans-serif;

font-family: "Roboto Slab", serif;

font-family: "Merriweather", serif;

font-family: "Playfair Display", serif;

font-family: "Ubuntu", sans-serif;

font-family: "Nunito", sans-serif;

font-family: "Raleway", sans-serif;

font-family: "Jersey 20", sans-serif;

font-family: "Noto Sans", sans-serif;

font-family: "Roboto Mono", monospace;

font-family: "Oswald", sans-serif;

font-family: "Jacquard 24", system-ui;

font-family: "Roboto Condensed", sans-serif;

font-family: "Lato", sans-serif;

font-family: "Poppins", sans-serif;

font-family: "Platypi", serif;

font-family: "Sedan", serif;

font-family: "Roboto", sans-serif;



**/
