 .nav_pro
 {
   font-family: "Dancing Script", cursive;
   margin-left: 20px;
   color: #000;
 }

#nav_button_pro
{
  cursor: crosshair;
  font-family: "Playfair Display", serif;
  margin-right: 7px;
}
