@import 'bootstrap';

/* Customize the Home Page: */
.container
{
  margin-top: 100px;
}
.home_heading
{
  font-family: "Space Grotesk", sans-serif;
  .home_heading_pro
  {
    font-family: "Dancing Script", cursive;
  }
}
.home_paragraph
{
  font-family: "Crimson Text", serif;
  font-size: 20px;
}
.button_pro
{
  font-family: "Dancing Script", cursive;
  cursor: crosshair;
  font-size: 30px;
}

.card_pro
{
  font-family: "Jacquard 24", system-ui;
  font-size: 35px;
  text-decoration: underline;
}
.card_semi-pro
{
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
}


/* Customize the About Page: */
.about_heading
{
  font-family: "EB Garamond", serif;
  color: #000;
  font-size: 35px;
}
.about_paragraph
{
  font-family: "Cormorant Garamond", serif;
  color: #000;
  text-align: center;
  font-size: 25px;
}
.about_section_title
{
  font-family: "Bungee Spice", sans-serif;
}
.about_mypage
{
  font-family: "Exo 2", sans-serif;
}

/* Customize the How To Page: */
.howto_header
{
  font-family: "Space Grotesk", sans-serif;
  font-size: 30px;
}
.howto_about
{
  font-family: "Crimson Text", serif;
  font-size: 25px;
}
.howto_semi_title
{
  font-family: "Jacquard 24", system-ui;
}
.howto_semi_paragraph
{
  font-family: "Dancing Script", cursive;
  font-size: 20px;
}
.howto_list_instructions
{
  font-family: "Red Hat Display", sans-serif;
  font-size: 25px;
}


/* Customize the Contact Page: */
.contact_header
{
  font-family: "Crimson Text", serif;
}
.contact_paragraph
{
  font-family: "Space Grotesk", sans-serif;
}
.contact_form_title
{
  font-family: "Teko", sans-serif;
}
.contact_form_input
{
  font-family: "Cormorant Garamond", serif;
}


/* Customize the EULA Page: */
.eula_header
{
  font-family: "Jacquard 24", system-ui;
}
.eula_paragraph
{
  font-family: "Dancing Script", cursive;
  font-size: 25px;
}
