<!-- app/views/products/new.html.erb -->
<h1>Add a New Product</h1>

<%= render 'form', business: @business, product: @product %>

<%= link_to 'Back to Business', business_path(@business) %>
<style>
body
{
  background-color: #CCC;
}
.prod_new_title
{
  font-family: "Cinzel", serif;
  color: black;
  text-shadow: 5px 5px 7px #000;
}
.prod_new_input
{
  font-family: "Source Code Pro", monospace;
  background-color: #000;
  border: 2px solid gold;
  padding: 4px;
  color: #0F0;
}
.biz_btn
{
  font-family: "Gideon Roman", serif;
  font-size: 20px;
}
</style>
